@CHARSET "UTF-8";

/*Resetting css so that all browsers will start from same basic empty style*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Resetting done*/


/*
  ========================================
  Positioning
  ========================================
*/


html, body, .wrapper{
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
}

.wrapper {
    height: auto;
    min-height: 100%;
    margin: 0 10%;
}

footer {
    clear: both;
}

.container {
    position: relative;
    width: 100%;
}


/*
  ========================================
  Tile views
  ========================================
*/

.tile{
    position: relative;
    overflow: hidden;
    width: 130px;
    height: 130px;
    margin: 2px 4px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #393f60;
}

.tile img{
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.tileHovering{
    opacity: 0.7;
    border: 2px solid #fff;
}

.tileTextHidden{
    display: none;
}


.tile .tileText{
    text-align: center;
    width: 100%;
    min-height: 30px;
    height: auto;

    background: -webkit-linear-gradient(rgba(18, 4, 32, 0.2), rgba(0, 0, 0, 1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(18, 4, 32, 0.2), rgba(0, 0, 0, 1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(18, 4, 32, 0.2), rgba(0, 0, 0, 1)); /*Fx 3.6-15*/
    background: linear-gradient(rgba(18, 4, 32, 0.2), rgba(0, 0, 0, 1)); /*Standard*/
    color: #fff;
    opacity: 0.9;
    position: absolute;
    bottom:0;
}

/*
  ========================================
  Teaser
  ========================================
*/

.teaserP{
    width: 35%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -10% 0 0 -17.5%;
    z-index: 9002;
}


.teaserF{
    background-color: #293f50;
    border-radius: 10px;
}

.teaserF p {
    padding-bottom: 20px;
}
.teaserF div {
    padding: 20px;
    border: 1px solid #393f60;
    border-radius: 10px;
    //color: #fff;
}

.teaserF div .moreInfo{
    position: absolute;
    right: 30px;
}


.teaserF img{
    float: right;
    border: 2px solid #393f60;
    margin: 0 10px 10px 20px;
}

/*
  ========================================
  Blanket
  ========================================
*/

#blanket{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9001;
}

.enableBlanket{
    height: 100vh;
    display: block;
    background-color: #111;
    opacity: 0.8;
}


/*
  ========================================
  Details section - artist and albums
  ========================================
*/

.details{
    margin-top: 3em;
}

#detailsLeft {
    display:inline;
    float: left;
    width: 300px;
    margin: 0 1em 1em 0;
}

#detailsLeft h2{
    font-size:36px;

}

.leftCol{                  /* Right column elements in artist.html */
    margin-top: 50px;
    float: left;
}


#results img{
    border: 2px solid #393f60;

}

#artistBioSec .imgFill{
    width: 200px;

}

.imgFloatRight{
    float: right;
    margin: 1em 3em 2em 3em;
}


.imgFloatLeft{
    float: left;
    margin: 1em 3em 2em 3em;
}

#artistBioSec{
    position: relative;
}

#artistBioSec p{
    padding-top: 20px;
    float: left;
    display: inline;
}

aside img{
    margin-top: 3em;
}

aside table .asideCol1{
    width: 100px;
}

aside table .asideCol2{
    text-align: right;
}



#tagList .genreTag{
    width: auto;
    height: 30px;
    background-color: #48a895;
    display: inline-block;
    color: #fff;
    padding: 0 10px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 5px;
}

.artistReadMore{
    position: relative;
    bottom: -20px;
    right: 0;
    margin: 30px;
    cursor: pointer;
}

.paragraphHidden{
    display: none !important;
}


/*
  ========================================
  ArtistNews
  ========================================
*/

.artistNewsSec{
    margin-top: 5em;
}

.artistNewsSec div{
    margin-top: 1em;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

/*
  ========================================
  Header
  ========================================
*/
.logo {
    border-top: 6px solid #648880;
    float: left;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: .5px;
    line-height: 44px;
    padding: 40px 0 22px 0;
    text-transform: uppercase;
}

.primary-nav {
    margin: 10px 0 0 0;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .7px;
    word-spacing: 2px;
    text-transform: uppercase;
}

#searchElement{
    padding-top: 80px;
    padding-bottom: 35px;
}

#searchElement #search{
    margin-right: 10px;
}

#searchElement #searchBtn{

}

#searchElement #searchResult{

    width: 330px;
    position: absolute;
    right: 30px;
    top: 110px;
    z-index: 10000;
    background-color: #2a3043;
    opacity: 0.95;
    font-weight: 100;
}

#searchElement .resultClass{
    display: block;
    min-height: 60px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

#searchElement .imgResContainer {
    float:left;
    margin: 13px 13px 13px 13px;
    position: relative;
    overflow: hidden;
    width: 34px;
    height: 34px;
    display: inline-block;
}

#searchElement img{
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

#searchElement #searchResult span{
    float: left;
    text-align: left;
    text-transform: none;
    width: 250px;
    font-weight: 300;
    margin-top: 6px;
}




/*
  ========================================
  Footer
  ========================================
*/
.primary-footer {
    color: #648880;
    font-size: 14px;
    padding-top: 20px;
}

.primary-footer small {
    //float: left;
    font-weight: 400;
}



/*
  ========================================
  Buttons
  ========================================
*/
.btn {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}

.btn-alt {
    border: 1px solid #fff;
    /*padding: 10px 30px;*/
    padding: 3px 15px;

}

.btn-alt:hover {
    background: #fff;
    color: #648880;
}

/*Hvis man skal gjøre submit-knapp lik div-knapp*/
.btn-default {
    border: 1px solid #fff;
    border-radius: 5px;
    background: #293f50;
    padding: 11px 30px;
    font-size: 14px;
}
.btn-default:hover {
    background: #fff;
    color: #293f50;
}


/*
  ========================================
  Textfields
  ========================================
*/

input{
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*
  ========================================
  Custom styles
  ========================================
*/
body {
    background: #293f50;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (max-device-width: 480px) {
    body{
        background: deeppink;
    }
}

h1, h2, h3, h4 {
    color: #648880;
}

h1 {
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 44px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

strong {
    font-weight: 400;
}

cite, em {
    font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a {
    color: #648880;
    text-decoration: none;
}

a:hover {
    color: #a9b2b9;
}

.primary-header a,
.primary-footer a {
    color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
    color: #648880;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
    text-align: right;
}


/*
  ========================================
  Busy Indicator
  ========================================
*/

.loading{
    width:100px;
    height:100px;
    position:fixed;
    top:calc(50% - 50px);
    left:calc(50% - 50px);
    /*margin:30px auto;*/
}

.loading.bar div{
    width: 10px;
    height: 30px;
    background: deeppink;
    position: absolute;
    top: 35px;
    left: 45px;
    opacity:0.05;

    -webkit-animation: fadeit 1.1s linear infinite;
    animation: fadeit 1.1s linear infinite;
}

.loading.bar div:nth-child(1){
    -webkit-transform: rotate(0deg) translate(0, -30px);
    transform: rotate(0deg) translate(0, -30px);

    -webkit-animation-delay:0.39s;
    animation-delay:0.39s;
}
.loading.bar div:nth-child(2){
    -webkit-transform: rotate(45deg) translate(0, -30px);
    transform: rotate(45deg) translate(0, -30px);

    -webkit-animation-delay:0.52s;
    animation-delay:0.52s;
}
.loading.bar div:nth-child(3){
    -webkit-transform: rotate(90deg) translate(0, -30px);
    transform: rotate(90deg) translate(0, -30px);

    -webkit-animation-delay:0.65s;
    animation-delay:0.65s;
}
.loading.bar div:nth-child(4){
    -webkit-transform: rotate(135deg) translate(0, -30px);
    transform: rotate(135deg) translate(0, -30px);

    -webkit-animation-delay:0.78s;
    animation-delay:0.78s;
}
.loading.bar div:nth-child(5){
    -webkit-transform: rotate(180deg) translate(0, -30px);
    transform: rotate(180deg) translate(0, -30px);

    -webkit-animation-delay:0.91s;
    animation-delay:0.91s;
}
.loading.bar div:nth-child(6){
    -webkit-transform: rotate(225deg) translate(0, -30px);
    transform: rotate(225deg) translate(0, -30px);

    -webkit-animation-delay:1.04s;
    animation-delay:1.04s;
}
.loading.bar div:nth-child(7){
    -webkit-transform: rotate(270deg) translate(0, -30px);
    transform: rotate(270deg) translate(0, -30px);

    -webkit-animation-delay:1.17s;
    animation-delay:1.17s;
}
.loading.bar div:nth-child(8){
    -webkit-transform: rotate(315deg) translate(0, -30px);
    transform: rotate(315deg) translate(0, -30px);

    -webkit-animation-delay:1.3s;
    animation-delay:1.3s;
}

@-webkit-keyframes fadeit{
    0%{ opacity:1; }
    100%{ opacity:0;}
}
@keyframes fadeit{
    0%{ opacity:1; }
    100%{ opacity:0;}
}

/*
    End of busy indicator.
*/