/*
  ========================================
  Custom styles
  ========================================
*/
body {
//background: #293f50;
    background:url("../img/dark-blue-texture-wallpaper-800x600-530f748b70dab.jpg");
    color: #f4e8da;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (max-device-width: 480px) {
    body{
        background: deeppink;
    }
}

h1, h2, h3, h4 {
    color: #48a895;
}

h1 {
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 44px;
}

#intro h2{
    font-size: 36px;
    width: 90%;
    line-height: 44px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    color: #48a895;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.tile .tileText{
    background: -webkit-linear-gradient(rgba(18, 4, 32, 0.2), rgba(0, 0, 0, 1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(18, 4, 32, 0.2), rgba(0, 0, 0, 1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(18, 4, 32, 0.2), rgba(0, 0, 0, 1)); /*Fx 3.6-15*/
    background: linear-gradient(rgba(18, 4, 32, 0.2), rgba(0, 0, 0, 1)); /*Standard*/
    color: #fff;
}

.enableBlanket{
    background-color: #111;
    opacity: 0.8;
}

#tagList .genreTag {
    background-color: #48a895;
    color: #fff;
}


.artistReadMore{
//color: #f4e8da;
}

.logo{
    border-top: 6px solid #648880;
}

#searchText{
    font-weight: 400;
    text-transform: uppercase;
}

#searchElement #searchResult {
    background-color: #2a3043;
}

#searchElement .resultClass {
    border-bottom: 1px solid #fff;
}

#searchElement .resultClass:hover {
    background: #f4e8da;
    color: #2a3043;
}

#detailsAside{
//background: #777;
}

.underline{
    text-decoration: underline;
}


/*
  ========================================
  Nav
  ========================================
*/



.primary-nav{
    margin-top: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

/*
  ========================================
  Footer
  ========================================
*/

.primary-footer {
    color: #648880;
}




/*
  ========================================
  Buttons
  ========================================
*/

.btn{
//color: #f4e8da;
    color: #D8A700;
}


.btn-alt{
    border: 1px solid #f4e8da;
}

.btn-alt:hover {
    background: #f4e8da;
    color: #293f50;
}

.btn-default{
    background: #293f50;
    border: 1px solid #fff;
}

.btn-default:hover {
    background: #f4e8da;
    color: #293f50;
}

/*
  ========================================
  Tile views
  ========================================
*/


.tile{
    border: 2px solid #393f60;
    //border: 2px solid #D8A700;
}



.tileHovering{
    border: 2px solid #fff;
}


/*
  ========================================
  Teaser
  ========================================
*/


.teaserF {
    background-color: #293ff0;
    opacity:1;
}

.teaserF div{
    border: 1px solid #393f60;
}


.teaserF img{
    border: 2px solid #393f60;
}

/*
  ========================================
  Details section - artist and albums
  ========================================
*/

#results img{
    border: 2px solid #393f60;

}


/*
  ========================================
  ArtistNews
  ========================================
*/

.artistNewsSec .dateSpan {
    border-left: 4px solid #48a895;
}





/*
  ========================================
  Links
  ========================================
*/

a {
//color: #648880;
    color: #d8a700;
    text-decoration: none;
}


a:hover {
    color: #a9b2b9;
}

.primary-header a,
.primary-footer a {
    color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
    color: #648880;
}



/*
  ========================================
  Busy Indicator
  ========================================
*/

.loading.bar div{
    background: deeppink;
}


/*
  ========================================
  Colors
  ========================================
*/

.ocre{
    color: #d8a700;
}

.white{
    color: #fff;
}

.light_green{
    color: #48a895;
}